* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.1), #a5c7b5),
        url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 280px;
    position: absolute;
    top: -30px;
    left: -30px;
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 280px;
}

.banner-text h1 {
    font-size: 130px;
    font-family: "Great Vibes", cursive;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
    /* font-family: "Kaushan script", cursive; */
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 0.5px solid white;
}
